# Ignore system and config files
.DS_Store
.sass-cache/
.log
local-config.php
node_modules/
license.txt



# Things to ignore in the src directory
src/lib/bower_components/



# No need to add the upgrade folder to the repo #
wp-content/upgrade/*

# No need to add the uploads folder to the repo #
wp-content/uploads/*

# No need to add the plugins folder to the repo #
wp-content/plugins/*

# sitemaps not needed locally #
sitemap.xml
sitemap.xml.gz

wp-content/*
!site/plugins/
!site/themes/
